---
layout: blank
---
    <div class="hero">
      <div class="page-body">
        <div class="hero-title">
          <img src="/img/outwatch_logo.svg" alt="Outwatch logo" class="hero-logo"/>
          <h1>OutWatch</h1>
        </div>
        <h2>A functional & reactive UI framework for more predictable code</h2>
        <h3>
          <a class="primary" href="/getting-started.html">Get Started</a><span></span>
          <a class="secondary" href="https://github.com/OutWatch/outwatch">GitHub</a>
        </h3>
        <iframe class="hero-gh-star" src="https://ghbtns.com/github-btn.html?user=outwatch&repo=outwatch&type=star&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
      </div>
    </div>
      <div class="features">
          {% capture homepage %}{% include homepage-content.md %}{% endcapture %}
          {{ homepage | markdownify }}
        <div style="clear: both" class="">
        </div>
        <h3>Example</h3>
        <div>
            {% capture ex %}{% include homepage-example.md %}{% endcapture %}
            {{ ex | markdownify }}
        </div>
        <div style="clear: both"></div>
        <h3>
          <a class="primary" href="/getting-started.html">Get Started Now</a>
        </h3>
      </div>

<div class="page-body" style="padding-top: 0px">
      {% include footer.html %}
    </div>
    <script src="js/example-hello-world.min.js" async defer></script>
